/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 1vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

* {
  letter-spacing: 1%;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  overscroll-behavior: none;
  font-family: "Verdana", sans-serif;
}

body {
  margin: 0 auto;
  background-color: black;
  height: 100svh;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  >* {
    margin: 0;
  }
}

a {
  margin-bottom: 2vh;
  display: inline-block;
  color: inherit;
}

header {
  color: #ddd;
  padding: 1vh;
  text-align: center;
  font-size: 5vh;
  border-bottom: 1px solid rgba(255, 255, 255, 20%);

  >p {
    font-size: 3vh;
  }
}


@keyframes slidein {
  from {
    margin-left: -10vh;
  }

  to {
    margin-left: 0vh;
  }
}


footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 5vh;
  border-top: 1px solid rgba(255, 255, 255, 20%);
  color: #ddd;
  font-size: 0.8rem;

  .copyright {
    margin: 1vh;
  }

  .navHome {
    max-width: 7vh;
    cursor: pointer;
    transition: all 250ms;
    background: none;
    border: none;
    position: absolute;
    right: 2vh;
    bottom: 2vh;
    background-color: #000;
    border-radius: 1vh;
    padding: 1vh;
    border: 1px solid #fff;

    >img {
      max-width: 100%;
      object-fit: scale-down;
      pointer-events: none;
    }
  }


  .navHome:hover {
    transform: scale(1.1);
  }
}

body {
  transition: all 250ms;

  main {
    max-height: 100%;
    flex-grow: 1;
  }

  .home+footer {

    .navHome {
      display: none;
    }
  }
}

.disappear {
  opacity: 0;
  transform: scale(0.9);
}

.loading {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;


  #bar {
    border: 1px solid #fff;
    height: 4vh;
    text-align: center;
    position: relative;
    width: 90%;
    border-radius: 1vh;
    overflow: hidden;

    #filled {
      height: 100%;
      transition: width 10ms;
      color: #000;
      background-color: #fff;
      width: 0%;
    }

    #percentage {
      position: absolute;
      top: 0;
      left: 25%;
      width: 50%;
      line-height: 150%;
      color: #999;
      font-weight: bold;
      display: inline;
      z-index: 1;
    }
  }
}

/*HOME PAGE*/
.home {
  >* {
    margin: 0;
  }

  position: relative;

  .imgContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    >img {
      width: 100%;
      max-width: 500px;
      max-height: 70vh;
      object-fit: scale-down;
      margin: 0 auto;
    }

    .pill {
      position: absolute;
      background: none;
      bottom: 0%;
      height: 50%;
      font-size: 2vh;
      font-weight: bold;
      border: none;
      opacity: 0;
      cursor: pointer;
    }

    .pill-red {
      left: 0%;
      width: 50%;
    }

    .pill-blue {
      right: 0%;
      width: 50%;
    }
  }

  nav {
    position: absolute;
    top: 0vh;
    left: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    margin-top: 1vh;

    >a {
      text-decoration: none;
      color: #fff;
      line-height: 7vh;
      font-size: 3vh;
      background-color: rgba(0, 0, 0, 80%);
      border-radius: 1vh;
      padding: 1vh 2vh;
      transition: box-shadow 250ms;
      box-shadow: 0 0px 3px 0px #fff;
      animation-name: slidein;
      animation: slidein 0.5s ease-out;
    }

    >a:hover {
      box-shadow: 0 0 0px 0px #fff;
    }
  }
}

/*EXPERIENCE PAGE*/
.experience {
  >* {
    margin: 0;
  }

  .imgContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    >img {
      max-height: 300px;
      object-fit: scale-down;
      margin: 0 auto;
    }

    .pill {
      position: absolute;
      background: none;
      bottom: 0%;
      height: 50%;
      font-size: 2vh;
      font-weight: bold;
      border: none;
      opacity: 0;
      cursor: pointer;
    }

    .pill-red {
      left: 0%;
      width: 50%;
    }

    .pill-blue {
      right: 0%;
      width: 50%;
    }
  }

  .prompt {
    color: white;
    line-height: 4vh;
    text-align: center;
    font-size: 2.25vh;
    min-height: fit-content;
    margin: 1%;

    >span {
      font-weight: bold;
      font-size: 3vh;
    }

    .red {
      color: #f00;
    }

    .blue {
      color: #07f;
    }
  }

}

/*ACTING PAGE*/
body:has(.acting) {

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f00;
    border-radius: 1vh;
  }
}

.cardContainer {
  flex-grow: 1;
  color: white;
  overflow-y: scroll;

  >* {
    margin: 0;
  }

  .card {
    margin: 2vh 2vh 5vh 2vh;
    border-radius: 1vh;
    padding: 1vh;

    >* {
      margin: 0;
    }

    >.info {

      display: flex;
      justify-content: space-between;
      align-items: center;

      >.logo {
        width: 30%;
        overflow: hidden;
        border-radius: 1vh;

        >img {
          object-fit: contain;
          width: 100%;

        }
      }


    }

    video {
      width: 100%;
      object-fit: contain;
      border-radius: 1vh;
    }
  }

}

.acting {
  .card {
    box-shadow: 0 0px 5px 0px #f00;
  }
}

.gallery {
  .card {
    box-shadow: 0 0px 5px 0px #0f0;

    >h4 {
      margin: 1vh 0;
    }

    >img {
      width: 100%;
      object-fit: contain;
    }
  }
}

.contact {
  height: 50vh;

  .imgContainer {
    overflow: hidden;
    height: 100%;
    position: relative;

    img {
      object-fit: scale-down;
      max-width: 100%;
    }

    .links {
      color: #ddd;
      position: absolute;
      left: 0;
      top: 60%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;

      .socLink {
        height: 6vh;
        border-radius: 2vh;
        padding: 3px;
        background-color: rgba(0, 0, 0, 55%);
        margin: 0.5vh;
        overflow: hidden;

        img {
          height: 100%;
          object-fit: contain;
          border-radius: inherit;
        }
      }

      .socLink:hover {
        transform: scale(1.1);
      }
    }
  }


}